-f https://download.pytorch.org/whl/torch_stable.html
nltk==3.4.5
scipy==1.6.3
spacy==3.0.6
numpy==1.19.2
empath==0.89
tensorflow-cpu==2.5.0
pandas==1.2.4
scikit_learn==0.24.2
torch==1.8.1+cpu
transformers==4.6.0
